:roots {
    scroll-padding-top: -30;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/*-----navbar-----*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

header {
    position: sticky;
    z-index: 30;
    top: 0;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F6;
    box-shadow: 0 0 0.7rem #333332;
}

nav .navbar-brand {
    font-size: larger;
    font-weight: 700;
    margin-left: 2rem;
    color: rgb(69, 188, 196);
}

.nav__menu-bar {
    display: none;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
}

.nav__menu-bar div {
    width: 40px;
    height: 4px;
    background-color: #333332;
    border-radius: 2px;
}

.nav__menu-list {
    display: flex;
    flex-direction: row;
    position: unset;
    top: 60px;
    width: fit-content;
    column-gap: 24px;
    align-items: left;
    right: -288px;
    padding: 0px 16px;
    transition: all 0.2s;
    min-height: fit-content;
    background-color: #FAF9F6;
}

.nav__menu-list a {
    color: rgb(69, 188, 196);
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 0;
}

.nav__menu-list.active {
    right: 0;
}

.nav__menu-list a {
    font-size: 16px;
    position: relative;
    transition: all 0.2s;
}

.nav__menu-list a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -3px;
    left: 0;
    background-color: rgb(69, 188, 196);
    transition: all 0.2s;
}

.nav__menu-list a:hover:before {
    width: 100%;
}

.center {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-----Presentacion-----*/

.presentacion {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-margin-top: 3rem;
}

.presentacion .container-fluid {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    color: #333332;
    font-weight: 600;
    background-image: url("/images/qq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    line-height: 2;
    display: grid;
    place-items: center;
}

.presentacion .row-p {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 3rem;
}

.content-p {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 0.8rem #333332;
    margin-bottom: 2rem;
}

.p {
    display: flex;
    align-items: center;
}

.p h1 {
    font-size: 2.7rem;
    font-weight: 700;
    color: rgb(69, 188, 196);
    margin-left: 2rem;
}

.p h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ebebd0;

}

.p h3:nth-of-type(2) {
    margin-bottom: 0.7rem;
}

.p h3 span {
    color: #333332;
    margin-left: 4.5rem;
    font-size: 2rem;
}

.content-p .párrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.redes a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    background: transparent;
    border: 0.1rem solid #333332;
    border-radius: 50%;
    color: #333332;
    margin: 0.5rem 0.5rem 0.5rem 0;
    transition: .5s ease;
}

.redes a:hover {
    background-color: rgb(69, 188, 196);
    color: #FAF9F6;
    box-shadow: rgb(69, 188, 196);
}

.btn-color {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    background-color: #FAF9F6;


    font-size: 0.8rem;
    color: #333332;
    border: 1px solid #333332;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-decoration: none;
    transition: .5s ease;
    margin-top: 0.5rem;
}

.btn-color:hover {
    box-shadow: none;
    background-color: rgb(69, 188, 196);
    color: white;
}

.presentacion .img {
    overflow: hidden;
    text-align: right;
    object-fit: cover;
}

.presentacion .img .imagen {
    object-fit: cover;
    width: auto;
    height: auto;
    border: 5px solid rgb(69, 188, 196);
    border-radius: 250px 0 250px 0;
    margin-top: 4rem;
}

/*-----acerca-----*/

.acerca {
    position: relative;
    width: 100%;
    scroll-margin-top: 3rem;
}

.acerca .container-fluid-2 {
    position: relative;
    height: 32rem;
    width: 100%;
    margin: 0 auto;
    color: #333332;
    font-weight: 600;
    background-color: #FAF9F6;
    text-align: left;
    line-height: 2;
    display: grid;
    place-items: center;
}

.acerca .row-a {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.acerca .contenidos {
    display: flex;
    align-items: center;
    grid-column: 2 / span 6;
}

.contenidos .titulo {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}

.contenidos h2 {
    font-size: 2rem;
    color: #333332 !important;
}

.contenidos h2 span {
    color: rgb(69, 188, 196);
    font-size: 2rem;
}

.contenidos h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.contenidos .párrafo-2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

.acerca .img-2 {
    overflow: hidden;
    grid-column: 1;
    object-fit: cover;
}

.acerca .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(69, 188, 196);
    border-radius: 250px 0 250px 0;
}

/*-----habilidades-----*/

.habilidades {
    background-color: #333332;
    color: #fff;
    width: 100%;
    scroll-margin-top: 2.7rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidades .contenido-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #99cccc;
    width: 80%;
    height: 24rem;
}

.titulo-habilidades {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto 5rem;
}

.titulo-habilidades span {
    color: rgb(69, 188, 196);
    font-size: 3rem;
}

.iconos {
    width: 100%;
    height: 4rem;
    font-size: 2.5rem;
    text-align: center;
}

.icon:hover {
    color: #0ef;
}

.icon {
    height: 5rem;
    width: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*-----portafolio------*/

.portafolio {
    background-color: #99cccc;
    scroll-margin-top: 2.7rem;
    background-image: url("/images/proyectos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portafolio h2 {
    padding: 2rem 0 4rem;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

.portafolio h2 span {
    color: rgb(69, 188, 196);
    font-size: 3rem;
}

.row {
    width: 100%;
    padding-left: 1.5rem;
}

.portafolio-container {
    display: grid;
    align-items: center;
    gap: 2.5rem;

}

.portafolio-container .portafolio-box {
    position: relative;
    box-shadow: 0 0 1rem #333332;
    overflow: hidden;
    display: flex;
    margin-bottom: 3rem;
    border-radius: 250px 0 250px 0;
}

.portafolio-box img {
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.portafolio-box img:hover {
    transform: scale(1.1);
}

.portafolio-box .portafolio-descripción {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #99cccc;
    color: #FAF9F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portafolio-box:hover .portafolio-descripción {
    transform: translateY(0%);
}

.portafolio-descripción h4 {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.portafolio-descripción p {
    font-size: 1.3rem;
    margin: .3rem 0 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.portafolio-descripción a {
    margin: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ebebd0;
    border: #ebebd0;
    font-size: 0.9rem;
}


/*-----contacto-----*/

.contacto {
    background-color: #FAF9F6;
    scroll-margin-top: 2.7rem;
}

.contacto h2 {
    padding: 2rem 0 4rem;
    color: rgb(69, 188, 196);
    font-size: 3rem;
    text-align: center;
}

.contacto form {
    max-width: 70rem;
    height: 1rem auto;
    text-align: center;
    padding-bottom: 2rem;
    margin: auto 7rem;
}

.contacto form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacto form .input-box input,
.contacto form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #333332;
    background-color: white;
    margin: .7rem 0;
    border: 1px solid #333332;
}

.contacto form .input-box input {
    width: 49%;
}

.contacto form textarea {
    resize: none;
}

.contacto form btn {
    margin-top: 2rem;
    cursor: pointer;
}

.contacto .btn-color {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
}

/*-----footer-----*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9% 0;
    background-color: #333332;
    color: #fff;
}

.footer-texto p {
    font-size: 1rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .6rem;
    background-color: white;
    border-radius: 1rem;
    text-decoration: none;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #0ef;
}


/*-----breakpoints-----*/

@media screen and (max-width: 1010px) {

    .presentacion {
        height: 32rem;
    }

    .presentacion .container-fluid {
        height: 35rem;
    }

    .presentacion .row-p {
        width: 90%;
    }

    .p h1 {
        font-size: 2.5rem;
    }


    .p h3 {
        font-size: 1.3rem;
    }

    .p h3 span {
        margin-left: 4rem;
        font-size: 1.5rem;
    }

    .content-p .párrafo {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .redes a {
        width: 1.9rem;
        height: 1.9rem;
    }

    .btn-color {
        font-size: 0.7rem;
    }

    .presentacion .img .imagen {
        width: 80%;
    }


    .acerca .container-fluid-2 {
        position: relative;
        height: 33rem;
    }

    .acerca .row-a {
        width: 90%;
        margin-top: 1rem;
    }


    .portafolio-descripción h4 {
        font-size: 1.5rem;
    }

    .portafolio-descripción p {
        font-size: 1rem;
        margin: .3rem 0 1rem;
    }

    .portafolio-descripción a {
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 845px) {

    nav .navbar-brand {
        color: #333332;
    }

    .nav__menu-bar {
        display: flex;
    }

    .nav__menu-list {
        position: fixed;
        flex-direction: column;
        min-height: calc(100vh - 60px);
        width: 288px;
        row-gap: 24px;
    }

    .nav__menu-list a::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 6px;
        bottom: -1px;
        left: 0;
        background-color: #0ef;
        transition: all 0.2s;
    }

    .nav__menu-list.active {
        padding-top: 1rem;
        transform: translate(10%, -4%);
        height: 27rem;
    }

    .p h1 {
        font-size: 2.2rem;
        margin-left: 1rem;
    }

    .p h3 {
        font-size: 1.3rem;
    }

    .p h3 span {
        margin-left: 1.9rem;

    }

    .redes a {
        width: 1.7rem;
        height: 1.7rem;
    }

    .btn-color {
        font-size: 0.6rem;
    }


    .acerca .container-fluid-2 {
        position: relative;
        height: 35rem;
    }

    .acerca-contenido .titulo {
        font-size: 2rem;
    }

    .acerca-contenido .h2 {
        font-size: 2rem;
    }

    .acerca-contenido .h2 span {
        font-size: 2rem;
    }


    .portafolio-descripción h4 {
        font-size: 1.2rem;
    }

    .portafolio-descripción p {
        font-size: 1rem;
        margin: .2rem 0 0.5rem;
    }

    .portafolio-descripción a {
        font-size: 0.6rem;
    }

}

@media screen and (max-width: 767px) {

    .presentacion {
        height: 31rem;
    }

    .presentacion .container-fluid {
        height: 31rem;
    }

    .content-p {
        padding: 1.5rem;
        margin-bottom: 2rem;
    }

    .p h1 {
        font-size: 1.8rem;
        margin-left: 0.5rem;
    }

    .p h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .p h3:nth-of-type(2) {
        margin-bottom: 0.3rem;
    }

    .p h3 span {
        margin-left: 1.3rem;
        font-size: 1.3rem;
    }

    .párrafo {
        font-size: 1rem;
    }

    .redes a {
        width: 1.7rem;
        height: 1.7rem;
    }

    .btn-color {
        font-size: 0.7rem;
        font-weight: 700;
    }


    .acerca .container-fluid-2 {
        height: 38rem;
    }


    .portafolio {
        width: 100%;
        height: 50rem;
    }

    .portafolio .portafolio-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .portafolio-container {
        margin-bottom: 3rem;
    }

    .portafolio-container .portafolio-box {
        width: 70%;
        margin: auto;
    }

}

@media screen and (max-width: 660px) {

    .presentacion {
        height: 51rem;
    }

    .presentacion .container-fluid {
        height: 51rem;
    }

    .presentacion .row-p {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .p h1 {
        font-size: 2.7rem;
        margin-left: 1.5rem;
    }

    .p h3 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .p h3:nth-of-type(2) {
        margin-bottom: 0.7rem;
    }

    .p h3 span {
        margin-left: 4rem;
        font-size: 2rem;
    }

    .presentacion .img {
        text-align: center;
    }

    .presentacion .img .imagen {
        margin-top: 1rem;
    }


    .acerca .container-fluid-2 {
        position: relative;
        height: 53rem;
    }

    .acerca .row-a {
        height: 48rem;
        width: 90%;
        margin-top: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .acerca .contenidos {
        grid-column: 1;
        grid-row: 1;
        margin-left: 0;
    }

    .acerca .img-2 {
        width: 80%;
        margin: auto;
        grid-row: 1;
    }


    .habilidades {
        height: 34rem;
    }

    .habilidades .contenido-h {
        width: 80%;
        height: 28rem;
    }

    .iconos {
        margin-bottom: 7rem;
    }


    .portafolio {
        height: 60rem;
    }

    .portafolio-container .portafolio-box {
        width: 100%;
        margin: auto;
    }


    .contacto form {
        margin: 0 1.5rem;
    }

    .contacto form .input-box input {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {

    .presentacion {
        height: 53rem;
    }

    .presentacion .container-fluid {
        height: 53rem;
    }

    .p h1 {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .p h3 span {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .portafolio {
        height: 50rem;
    }

    .acerca .container-fluid-2 {
        height: 58rem;
    }

    .acerca .row-a {
        height: 59rem;
        margin-top: 4rem;
    }

}

@media screen and (max-width: 400px) {

    .presentacion {
        height: 61rem;
    }

    .presentacion .container-fluid {
        height: 61rem;
    }

    .presentacion .row-p {
        width: 100%;
        margin-top: 2rem;
    }

    .p h1 {
        font-size: 1.6rem;
        margin-left: 0.5rem;
    }

    .p h3 span {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    .presentacion .img .imagen {
        width: 100%;
        height: auto;
    }

    .acerca .container-fluid-2 {
        height: 65rem;
    }

    .acerca .row-a {
        height: 59rem;
        width: 90%;
        margin-top: 2rem;
    }

    .acerca .img-2 {
        width: 90%;
        height: auto;
    }

    .habilidades {
        height: 36rem;
    }

    .habilidades .contenido-h {
        width: 100%;
        height: 36rem;
    }

    .iconos {
        width: 100%;
        height: 4rem;
        padding: 0 0 8rem;
    }

    .portafolio {
        height: 42rem;
    }

    .portafolio-container .portafolio-box {
        border-radius: 25px 0 25px 0;
    }
    
    .portafolio-box .portafolio-descripción {
        padding: 0 0.5rem;
    }
   

    .portafolio-descripción h4 {
        font-size: 1.1rem;
    }

    .portafolio-descripción p {
        font-size: 0.9rem;
        margin: 0;
    }

    .portafolio-descripción a {
        margin-top: 0.6rem;
    }

}

